:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

table {
  width: 90%;
}

header {
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2rem;

  input {
    outline: none;
    border-radius: 5px;
    border: 0.5px solid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.table {
}

.mat-column-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-name {
  padding-left: 16px;
}
